.messageBox {
  background-color: var(--color-background-secondary);
}

.message {
  background-color: var(--color-background);
  padding: 15px;
  margin-block: 25px;
  border-radius: 15px;
  width: max-content;
  max-width: 100%;
}

.chatToggleBtn {
  opacity: 0.05;
}

.chatToggleBtn:hover {
  opacity: 100%;
}