@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-text: #101820;
  --color-background: #D7E4C0;
  --color-background-secondary: #fff;
  --color-highlighter: #283618;
  --color-primary: #80B918;
  --color-secondary: #990011;

  --padding-inline: calc(calc(100vw - 1300px) / 2);
}

* {
  user-select: none;
  transition: all .25s;
}

[data-theme="dark"] {
  --color-text: #ECECEC;
  --color-background: #17151b;
  --color-background-secondary: #0f0e11;
  --color-highlighter: #283618;
  --color-primary: #80B918;
  --color-secondary: #990011;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

nav {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

main {
  padding-block: 40px;
}

a:hover {
  color: var(--color-secondary);
}

.active {
  color: var(--color-primary);
  background-color: rgb(46, 51, 61) !important;
}

.active p {
  color: var(--color-highlighter);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  opacity: 0.7;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p {
  color: #808080;
}

button {
  background-color: var(--color-highlighter);
  padding: 10px;
}

ion-icon {
  font-size: 30px;
  cursor: pointer;
}

.padding-inline {
  padding-inline: var(--padding-inline);
}

[data-theme="dark"] .color-secondary {
  /* background-color: var(--color-background-secondary); */
  background-color: #0f0e11;
}

.color-secondary {
  background-color: var(--color-background-secondary);
  /* background-color: #fff; */
}

table td,
table th {
  padding: 15px 10px;
}

@media (max-width:768px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 1350px) {
  :root {
    --padding-inline: 20px;
  }
}